hr#example1
form#ex1.form-horizontal
  .form-group
    label.control-label.col-sm-2 Mandatory field
    .col-sm-10
      input.form-control(type='text')
  .form-group
    .col-sm-offset-2.col-sm-10
      button(type='submit').btn.btn-default Submit

  script(type='text/javascript').
    var metrics = [
      [ 'input', 'presence', 'Cannot be empty' ]
    ];
    $("#ex1").nod( metrics );
.code
  pre.prettyprint.lang-html &lt;form id=&quot;ex1&quot; class=&quot;form-inline&quot;&gt;
    |   &lt;div class=&quot;form-group&quot;&gt;
    |      &lt;label class=&quot;control-label&quot;&gt;Mandatory field&lt;/label&gt;
    |      &lt;div class=&quot;controls&quot;&gt;
    |        &lt;input type=&quot;text&quot;&gt;
    |      &lt;/div&gt;
    |    &lt;/div&gt;
    |    &lt;div class=&quot;controls&quot;&gt;
    |      &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Submit&lt;/button&gt;
    |    &lt;/div&gt;
    |  &lt;/form&gt;
  pre.prettyprint.lang-js
    | var metrics = [
    |   [ 'input', 'presence', 'Cannot be empty' ]
    | ];
    | $("#ex1").nod( metrics );
