hr#example2
form#ex2.form-horizontal
  .form-group
    label.control-label.col-sm-2 Search for number
    .col-sm-10
      input.form-control(type='text',placeholder="type a number and hit enter").search_field

  script(type='text/javascript').
    var metrics = [
      [ '.search_field', 'integer', 'Must be a number' ]
    ];
    var options = {
      disableSubmitBtn : false
    }
    $("#ex2").nod( metrics, options );

.code
  pre.prettyprint.lang-html
    |  &lt;form id=&quot;ex2&quot; class=&quot;form-inline&quot;&gt;
    |    &lt;div class=&quot;form-group&quot;&gt;
    |      &lt;label class=&quot;control-label&quot;&gt;Search for number&lt;/label&gt;
    |        &lt;div class=&quot;controls&quot;&gt;
    |        &lt;input type=&quot;text&quot; class=&quot;search_field&quot; placeholder=&quot;type a number and hit enter&quot;&gt;
    |      &lt;/div&gt;
    |    &lt;/div&gt;
    |  &lt;/form&gt;
  pre.prettyprint.lang-js
    | var metrics = [
    |   [ '.search_field', 'integer', 'Must be a number' ]
    | ];
    | 
    | var options = {
    |   disableSubmitBtn : false
    | }
    | 
    | $("#ex2").nod( metrics, options );
