hr#example2
form#ex2.form-horizontal
  .control-group
    label.control-label Search for number
    .controls
      input(type='text',placeholder="type a number and hit enter").search_field
  script
    var metrics = [
      [ '.search_field', 'integer', 'Must be a number' ]
    ];
    var options = {
      disableSubmitBtn : false
    }
    $("#ex2").nod( metrics, options );
.code
  pre.prettyprint.lang-html &lt;form id=&quot;ex2&quot; class=&quot;form-horizontal&quot;&gt;
    |   &lt;div class=&quot;control-group&quot;&gt;
    |      &lt;label class=&quot;control-label&quot;&gt;Search for number&lt;/label&gt;
    |      &lt;div class=&quot;controls&quot;&gt;
    |        &lt;input type=&quot;text&quot; class=&quot;search_field&quot; placeholder=&quot;type a number and hit enter&quot;&gt;
    |      &lt;/div&gt;
    |    &lt;/div&gt;
    |  &lt;/form&gt;
  pre.prettyprint.lang-js
    | var metrics = [
    |   [ '.search_field', 'integer', 'Must be a number' ]
    | ];
    | 
    | var options = {
    |   disableSubmitBtn : false
    | }
    | 
    | $("#ex2").nod( metrics, options );
