
hr#example4
form#ex4.form-horizontal
  p Leave at least one number
  .form-group
    label.control-label.col-sm-2 Home
    .col-sm-10
      input.form-control(type='text')#ex4a_home
  .form-group
    label.control-label.col-sm-2 Work
    .col-sm-10
      input.form-control(type='text')#ex4a_work
  .form-group
    label.control-label.col-sm-2 Mobile
    .col-sm-10
      input.form-control(type='text')#ex4a_mobile
  .form-group
    .col-sm-offset-2.col-sm-10
      button(type='submit').btn.btn-default Call me

  script(type='text/javascript').
    var metrics = [
      [ '#ex4a_home, #ex4a_work, #ex4a_mobile', 'one-of', 'Add at least one number' ]
    ];
    $("#ex4").nod( metrics );

// use http://www.opinionatedgeek.com/DotNet/Tools/HTMLEncode/Encode.aspx
.code
  pre.prettyprint.lang-html &lt;form id=&quot;ex4&quot; class=&quot;form-inline&quot;&gt;
    |   &lt;p&gt;Leave at least one number&lt;/p&gt;
    |   &lt;div class=&quot;form-group&quot;&gt;
    |     &lt;label class=&quot;control-label&quot;&gt;Home&lt;/label&gt;
    |     &lt;div class=&quot;controls&quot;&gt;
    |       &lt;input type=&quot;text&quot; id=&quot;ex4a_home&quot;&gt;
    |     &lt;/div&gt;
    |   &lt;/div&gt;
    |   &lt;div class=&quot;form-group&quot;&gt;
    |     &lt;label class=&quot;control-label&quot;&gt;Work&lt;/label&gt;
    |     &lt;div class=&quot;controls&quot;&gt;
    |       &lt;input type=&quot;text&quot; id=&quot;ex4a_work&quot;&gt;
    |     &lt;/div&gt;
    |   &lt;/div&gt;
    |   &lt;div class=&quot;form-group&quot;&gt;
    |     &lt;label class=&quot;control-label&quot;&gt;Mobile&lt;/label&gt;
    |     &lt;div class=&quot;controls&quot;&gt;
    |       &lt;input type=&quot;text&quot; id=&quot;ex4a_mobile&quot;&gt;
    |     &lt;/div&gt;
    |   &lt;/div&gt;
    |   &lt;div class=&quot;controls&quot;&gt;
    |     &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Call me&lt;/button&gt;
    |   &lt;/div&gt;
    | &lt;/form&gt;
  pre.prettyprint.lang-js
    | &lt;script&gt;
    |   var metrics = [
    |     [ '#ex4a_home, #ex4a_work, #ex4a_mobile', 'one-of', 'Add at least one number' ]
    |   ];
    |   $( '#ex4' ).nod( metrics );
    | &lt;/script&gt;

