doctype html
html
  head
    meta(charset="utf-8")
    title Testing Nod
    link(href="test/components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    script(src="test/components/jquery/dist/jquery.min.js")
    script(src="test/components/bootstrap/dist/js/bootstrap.min.js")

    style(type='text/css').
      .nod_msg {
        font-weight: bold;
        margin-left: 5px;
      }

  body

    .container
      h4 Compiled at #{compiledAt}
      fieldset
        legend The testing facility
        form(action="foo.html")#form.form-horizontal

          //
            .form-group
                label.radio
                  input.form-control(type='radio',name='a',value='a1')#bar
                  | First
                label.radio
                  input.form-control(type='radio',name='a',value='a2')
                  | Second
                label.radio
                  input.form-control(type='radio',name='a',value='a3')
                  | Third


          .form-group
              label.control-label.col-sm-2 One
              .col-sm-10
                input.form-control(type="text",autofocus)#one


          .form-group
              label.control-label.col-sm-2 Label two
              .col-sm-10
                input.form-control(type="text")#two

          .form-group
              label.control-label.col-sm-2 Label three
              .col-sm-10
                input.form-control(type="text")#three

          .form-group
            .col-sm-offset-2.col-sm-10
              button(data-loading-text="loading...",type="submit")#submit_btn.btn.btn-success Go go!

    //
      script(src='nod.min.js')
    script(src="checker.js")
    script(src="listener.js")
    script(src="msg.js")
    script(src="nod-#{nodVersion}.min.js")
    script(src="init.js")
    script(src="dev/test_nod.js")
